
MoviesApi/bin/Debug/netcoreapp3.1/MoviesApi.runtimeconfig.dev.json
MoviesApi/obj/Debug/netcoreapp3.1/MoviesApi.csproj.CoreCompileInputs.cache
MoviesApi/obj/MoviesApi.csproj.nuget.dgspec.json
MoviesApi/obj/MoviesApi.csproj.nuget.g.props
MoviesApi/obj/project.assets.json
MoviesApi/obj/project.nuget.cache
MoviesApi/obj/Debug/netcoreapp3.1/MoviesApi.csproj.FileListAbsolute.txt
MoviesApi/obj/MoviesApi.csproj.nuget.dgspec.json
MoviesApi/obj/MoviesApi.csproj.nuget.g.props
MoviesApi/obj/project.assets.json
MoviesApi/obj/project.nuget.cache
