
MoviesApi/bin/Debug/netcoreapp3.1/MoviesApi.runtimeconfig.dev.json
MoviesApi/obj/Debug/netcoreapp3.1/MoviesApi.csproj.CoreCompileInputs.cache
MoviesApi/obj/MoviesApi.csproj.nuget.dgspec.json
MoviesApi/obj/MoviesApi.csproj.nuget.g.props
MoviesApi/obj/project.assets.json
MoviesApi/obj/project.nuget.cache
MoviesApi/obj/Debug/netcoreapp3.1/MoviesApi.csproj.FileListAbsolute.txt
MoviesApi/obj/MoviesApi.csproj.nuget.dgspec.json
MoviesApi/obj/MoviesApi.csproj.nuget.g.props
MoviesApi/obj/project.assets.json
MoviesApi/obj/project.nuget.cache
MoviesApi/obj/Debug/netcoreapp3.1/MoviesApi.pdb
MoviesApi/obj/Debug/netcoreapp3.1/MoviesApi.genruntimeconfig.cache
MoviesApi/obj/Debug/netcoreapp3.1/MoviesApi.GeneratedMSBuildEditorConfig.editorconfig
MoviesApi/obj/Debug/netcoreapp3.1/MoviesApi.dll
MoviesApi/obj/Debug/netcoreapp3.1/MoviesApi.csproj.CoreCompileInputs.cache
MoviesApi/obj/Debug/netcoreapp3.1/MoviesApi.csproj.AssemblyReference.cache
MoviesApi/obj/Debug/netcoreapp3.1/MoviesApi.assets.cache
MoviesApi/obj/project.nuget.cache
MoviesApi/obj/project.assets.json
MoviesApi/obj/MoviesApi.csproj.nuget.g.targets
MoviesApi/obj/MoviesApi.csproj.nuget.g.props
MoviesApi/obj/MoviesApi.csproj.nuget.dgspec.json
MoviesApi/bin/Debug/netcoreapp3.1/MoviesApi.runtimeconfig.dev.json
MoviesApi/bin/Debug/netcoreapp3.1/MoviesApi.pdb
MoviesApi/bin/Debug/netcoreapp3.1/MoviesApi.dll
